.App {
  min-height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0F172A;
}

.App-link {
  color: #0F766E;
}